---
apiVersion: v1
kind: ConfigMap
metadata:
  name: glance-configmap
  namespace: utils
data:
  glance.yml: |
    pages:
      - name: Home
        columns:
          - size: small
            widgets:
              - type: clock
                hour-format: 24h
              - type: calendar
              - type: monitor
                cache: 10m
                title: Services
                sites:
                  - title: wijeproject
                    icon: /assets/logo.jpg
                    url: https://${domain}
                    same-tab: true
                  - title: watch-together
                    icon: sh:youtube-light
                    url: https://watch.${domain}
                    check-url: http://watch-together.projects.svc.cluster.local:8080
                    same-tab: true
                  - title: pihole
                    icon: sh:piholevault-light
                    url: https://pihole.${domain}/admin
                    same-tab: true
                  - title: radarr
                    icon: sh:radarr-light
                    url: https://radarr.${domain}
                    check-url: http://radarr.media.svc.cluster.local:7878
                    same-tab: true
                  - title: sonarr
                    icon: sh:sonarr-light
                    url: https://sonarr.${domain}
                    check-url: http://sonarr.media.svc.cluster.local:8989
                    same-tab: true
                  - title: lidarr
                    icon: sh:lidarr-light
                    url: https://lidarr.${domain}
                    check-url: http://lidarr.media.svc.cluster.local:8686
                    same-tab: true
                  - title: prowlarr
                    icon: sh:prowlarr-light
                    url: https://prowlarr.${domain}
                    check-url: http://prowlarr.media.svc.cluster.local:9696
                    same-tab: true
                  - title: flaresolverr
                    icon: sh:flaresolverr-light
                    url: https://flaresolverr.${domain}
                    check-url: http://flaresolverr.media.svc.cluster.local:8191
                    same-tab: true
                  - title: jellyfin
                    icon: sh:jellyfin-light
                    url: https://jellyfin.${domain}
                    check-url: http://jellyfin.media.svc.cluster.local:8096
                    same-tab: true
                  - title: calibre-web
                    icon: sh:calibre-web-light
                    url: https://books.${domain}
                    check-url: http://calibre-web-automated.media.svc.cluster.local:8083
                    same-tab: true
                  - title: shelfmark
                    icon: sh:shelfmark.png
                    url: https://getbooks.${domain}
                    check-url: http://shelfmark.media.svc.cluster.local:8084
                    same-tab: true
                  - title: qbittorrent
                    icon: sh:qbittorrent-light
                    url: https://qb.${domain}
                    check-url: http://qbittorrent.media.svc.cluster.local:8080
                    same-tab: true
                  - title: vaultwarden
                    icon: sh:vaultwarden-light
                    url: https://vw.${domain}
                    same-tab: true
          - size: full
            widgets:
              - type: search
                search-engine: https://search.brave.com/search?q={QUERY}
                bangs:
                  - title: YouTube
                    shortcut: "!yt"
                    url: https://www.youtube.com/results?search_query={QUERY}
              - type: bookmarks
                groups:
                  - title: General
                    links:
                      - title: Proton Mail
                        url: https://mail.proton.me/u/0/inbox
                        same-tab: true
                        hide-arrow: true
                      - title: Proton Drive
                        url: https://drive.proton.me
                        same-tab: true
                        hide-arrow: true
                      - title: Proton Calendar
                        url: https://calendar.proton.me/u/0/
                        same-tab: true
                        hide-arrow: true
                      - title: Github
                        url: https://github.com/
                        same-tab: true
                        hide-arrow: true
                  - title: Admin
                    links:
                      - title: Kubewall
                        url: https://k8s.${domain}
                        same-tab: true
                        hide-arrow: true
                      - title: Traefik
                        url: https://traefik.${domain}
                        same-tab: true
                        hide-arrow: true
                      - title: Longhorn
                        url: https://longhorn.${domain}
                        same-tab: true
                        hide-arrow: true
                      - title: Capacitor
                        url: https://capacitor.${domain}
                        same-tab: true
                        hide-arrow: true
              - type: hacker-news
                limit: 20
                collapse-after: 5
              - type: rss
                title: gripped
                style: horizontal-cards
                feeds:
                  - url: https://gripped.com/feed/
          - size: small
            widgets:
              - type: weather
                location: Milton, Canada
              - type: markets
                markets:
                  - symbol: XEQT.TO
                    name: iShares Core Equity ETF
                  - symbol: BTCC-B.TO
                    name: Bitcoin ETF CAD
                  - symbol: AMD
                    name: Advanced Micro Devices Inc.
              - type: releases
                cache: 1d
                repositories:
                  - hyprwm/Hyprland
                  - neovim/neovim
                  - sxyazi/yazi
                  - syncthing/syncthing
