apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: calibre-web-automated-downloader
  namespace: media
spec:
  interval: 5m
  upgrade:
    force: true
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-labs
        namespace: flux-system
      interval: 5m

  values:
    controllers:
      main:
        containers:
          main:
            image:
              repository: ghcr.io/calibrain/calibre-web-automated-book-downloader
              tag: latest
            securityContext:
              fsGroup: 0
              runAsUser: 0
              runAsGroup: 0
              fsGroupChangePolicy: "Always"
            env:
              TZ: America/Toronto
              EXT_BYPASSER_URL: http://flaresolverr.media.svc.cluster.local:8191

    service:
      main:
        controller: main
        ports:
          http:
            port: 8084

    ingress:
      main:
        enabled: true
        annotations:
          traefik.ingress.kubernetes.io/router.entrypoints: websecure-ext,websecure
          traefik.ingress.kubernetes.io/router.middlewares: "admin-forwardauth-authelia@kubernetescrd"
        hosts:
          - host: "getbooks.${domain}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: main
    persistence:
      config:
        enabled: true
        existingClaim: calibre-web-automated-downloader-config
      ingest:
        enabled: true
        type: custom
        volumeSpec:
          nfs:
            server: "${storage_host_ip}"
            path: /gargantua/books-import
        globalMounts:
          - path: /cwa-book-ingest
            readOnly: false
