---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: admin
spec:
  interval: 5m
  upgrade:
    force: true
  chart:
    spec:
      chart: traefik
      version: 39.0.2
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
      interval: 5m
  values:
    image:
      tag: v3.5.0
    ingressRoute:
      dashboard:
        enabled: false
    ports:
      web:
        port: 80
        http:
          redirections:
            entryPoint:
              to: websecure
              scheme: https
              permanent: true
          observability:
            tracing: true
            traceVerbosity: minimal
      websecure:
        port: 443
        asDefault: true
        http:
          tls:
            enabled: true
            options: "default"
          middlewares: 
            - admin-redirect-www-to-root@kubernetescrd
          observability:
            tracing: true
            traceVerbosity: minimal
      web-ext:
        port: 9080
        exposedPort: 9080
        asDefault: false
        expose:
          default: true
        http:
          redirections:
            entryPoint:
              to: websecure
              scheme: https
              permanent: true
          observability:
            tracing: true
            traceVerbosity: minimal
      websecure-ext:
        asDefault: false
        port: 9443
        exposedPort: 9443
        expose:
          default: true
        http:
          tls:
            enabled: true
            options: "default"
          observability:
            tracing: true
            traceVerbosity: minimal
    additionalArguments:
      - "--providers.file.filename=/etc/traefik/dynamic.yml"
      - "--providers.file.watch=true"
    volumes:
      - name: traefik-config
        mountPath: /etc/traefik
        type: configMap
    service:
      spec:
        externalTrafficPolicy: Cluster
        loadBalancerIP: "${traefik_load_balancer_ip}"
