---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: pihole
  namespace: utils
spec:
  interval: 10m
  upgrade:
    force: true
  chart:
    spec:
      chart: pihole
      version: 2.35.0
      sourceRef:
        kind: HelmRepository
        name: mojo2600
        namespace: flux-system
      interval: 5m
  values:
    image:
      repository: pihole/pihole
      pullPolicy: IfNotPresent

    ingress:
      enabled: true
      hosts:
      - pihole.${domain}

    dualStack:
      enabled: true

    serviceWeb:
      loadBalancerIP: ${pihole_host}
      type: ClusterIP
      
    adminPassword: "${pihole_password}"
      
    serviceDns:
      loadBalancerIP: ${pihole_host}
      loadBalancerIPv6: ${pihole_host_ipv6}
      type: LoadBalancer
      
    doh:
      enabled: true
      pullPolicy: Always
      envVars: {
        DOH_UPSTREAM: "https://1.1.1.1/dns-query"
      }

    dnsmasq:
      enableCustomDnsMasq: true
      customDnsEntries:
      - address=/${domain}/${traefik_load_balancer_ip}
      - address=/*.${domain}/${traefik_load_balancer_ip}
      - address=/.${domain}/${traefik_load_balancer_ip}

    persistentVolumeClaim:
      enabled: true
      existingClaim: pihole-config
