---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: postgresql
  namespace: utils
spec:
  interval: 5m
  upgrade:
    force: true
    timeout: 20m
  chart:
    spec:
      chart: postgresql
      version: 18.1.3
      sourceRef:
        kind: HelmRepository
        name: bitnami
        namespace: flux-system
      interval: 5m
  values:
    global:
      storageClass: "longhorn"
    primary:
      persistence:
        enabled: true
        size: 10Gi
      resources:
        requests:
          memory: "512Mi"
          cpu: "250m"
        limits:
          memory: "1Gi"
          cpu: "500m"
    auth:
      enablePostgresUser: true
      username: "${pg_username}"
      password: "${pg_user_password}"
      postgresPassword: "${pg_password}"
      database: "maindb"
