---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: qbittorrent
  namespace: media
spec:
  interval: 5m
  upgrade:
    force: true
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-labs
        namespace: flux-system
      interval: 5m
  values:
    defaultPodOptions:
      dnsConfig:
        options:
          - name: ndots
            value: "1"
    controllers:
      main:
        enabled: true
        initContainers:
          dnsdist:
            image:
              repository: docker.io/powerdns/dnsdist-19
              tag: 1.9.11
            restartPolicy: Always

          gluetun:
            dependsOn: dnsdist
            image:
              repository: ghcr.io/qdm12/gluetun
              tag: v3.41.0
            env:
              VPN_TYPE: wireguard
              VPN_INTERFACE: wg0
              VPN_SERVICE_PROVIDER: protonvpn
              VPN_PORT_FORWARDING: on
              PORT_FORWARD_ONLY: on
              SERVER_COUNTRIES: Netherlands
              WIREGUARD_PRIVATE_KEY: ${vpn_proton_wg_private_key}
              FIREWALL_INPUT_PORTS: 8080
              DOT: 'off'
              DNS_ADDRESS: 127.0.0.2
              HTTP_CONTROL_SERVER_AUTH_DEFAULT_ROLE: '{"auth":"apikey","apikey":"${gluetun_api_key}"}'
              # HTTP_CONTROL_SERVER_AUTH_DEFAULT_ROLE: '{"auth":"none"}'
              TZ: America/Toronto
            restartPolicy: Always
            securityContext:
              capabilities:
                add:
                  - NET_ADMIN
        containers:
          main:
            image:
              repository: ghcr.io/home-operations/qbittorrent
              tag: 5.1.4
            env:
              PUID: 0
              PGID: 0
            securityContext:
              runAsUser: 0
              runAsGroup: 0

          port-forward:
            image:
              # repository: ghcr.io/bjw-s-labs/gluetun-qb-port-sync
              repository: ghcr.io/t-anc/gsp-qbittorent-gluetun-sync-port-mod
              tag: latest
            env:
              # GLUETUN_CONTROL_SERVER_HOST: localhost
              GSP_GTN_ADDR: http://localhost:8000
              # GLUETUN_CONTROL_SERVER_PORT: 8000
              GSP_GTN_API_KEY: ${gluetun_api_key}
              # QBITTORRENT_HOST: localhost
              # QBITTORRENT_WEBUI_PORT: 8080
              WEBUI_PORT: 8080
              # CRON_ENABLED: true
              # CRON_SCHEDULE: '*/5 * * * *'
              # LOG_TIMESTAMP: true

    service:
      main:
        controller: main
        ports:
          http:
            port: 8080

    ingress:
      main:
        enabled: true
        annotations:
          traefik.ingress.kubernetes.io/router.middlewares: "admin-forwardauth-authelia@kubernetescrd"
        hosts:
          - host: "qb.${domain}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: main

    persistence:
      config:
        existingClaim: qbittorrent-config
        advancedMounts:
          main:
            main:
              - path: /config
      downloads:
        enabled: true
        type: custom
        volumeSpec:
          nfs:
            server: "${storage_host_ip}"
            path: /gargantua/Downloads
        advancedMounts:
          main:
            main:
              - path: /downloads
      tun:
        type: hostPath
        hostPath: /dev/net
        hostPathType: Directory
        advancedMounts:
          main:
            gluetun:
              - path: /dev/net/tun
                subPath: tun
      dnsdist:
        type: configMap
        name: qbittorrent-dnsdist
        advancedMounts:
          main:
            dnsdist:
              - path: /etc/dnsdist/dnsdist.conf
                subPath: dnsdist.conf
                readOnly: true

      port-forward-config:
        type: emptyDir
        advancedMounts:
          main:
            port-forward:
              - path: /config
