---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: wireguard
  namespace: admin
spec:
  interval: 5m
  upgrade:
    force: true
  chart:
    spec:
      chart: wg-easy
      version: 18.13.1
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 5m
  values:
    image:
      repository: ghcr.io/wg-easy/wg-easy
      pullPolicy: IfNotPresent
      tag: 15@sha256:bb8152762c36f824eb42bb2f3c5ab8ad952818fbef677d584bc69ec513b251b0
    securityContext:
      container:
        PUID: 0
        runAsUser: 0
        runAsGroup: 0
        readOnlyRootFilesystem: false
        runAsNonRoot: false
        privileged: true
        capabilities:
          add:
            - NET_ADMIN
            - NET_RAW
            - SYS_MODULE
    service:
      vpn:
        loadBalancerIP: ${wg_host}
        type: LoadBalancer
        externalTrafficPolicy: Local
    workload:
      main:
        podSpec:
          nodeSelector:
            kubernetes.io/arch: arm64
          containers:
            main:
              env:
                WG_HOST: "${wg_host}"
                WG_MTU: 1280
                WG_PERSISTENT_KEEPALIVE: 0
                WG_DEFAULT_DNS: "${pihole_host}"
                WG_ALLOWED_IPS: "0.0.0.0/0, ::/0"
                PASSWORD_HASH: "${wg_password_hash}"
                LANG: "en"
                UI_TRAFFIC_STATS: "false"
    persistence:
      config:
        enabled: true
        mountPath: "/etc/wireguard"
        existingClaim: wireguard-config
