---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: wireguard
  namespace: admin
spec:
  interval: 10m
  chart:
    spec:
      chart: wg-easy
      version: 0.1.3
      sourceRef:
        kind: HelmRepository
        name: hansehe
        namespace: flux-system
      interval: 5m
  values:
    enabled: true
    replicaCount: 1

    image:
      repository: ghcr.io/wg-easy/wg-easy
    environmentVariables:
      WG_HOST: ${wg_host}
      PASSWORD_HASH: ${wg_password_hash}
      WG_DEFAULT_DNS: ${pihole_host}

    # This will enable IP forwarding and NAT masquerading
    # This is required for the VPN to work in full tunnel mode
    command:
      - /bin/sh
      - -c
      - |
        echo "Enabling IP forwarding"
        sysctl -w net.ipv4.ip_forward=1
        iptables -t nat -F POSTROUTING
        iptables -t nat -A POSTROUTING -s 10.8.0.0/24 -o eth0 -j MASQUERADE
        exec node server.js

    securityContext:
      container:
        PUID: 0
        runAsUser: 0
        runAsGroup: 0
        readOnlyRootFilesystem: false
        runAsNonRoot: false
        privileged: true
        capabilities:
          add:
            - NET_ADMIN
            - NET_RAW
            - SYS_MODULE

    service:
      type: LoadBalancer
      loadBalancerIP: ${traefik_load_balancer_ip}
      externalTrafficPolicy: Local

    volume:
      enabled: true
      className: longhorn
      size: 1Gi
