---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: wireguard
  namespace: admin
spec:
  interval: 10m
  chart:
    spec:
      chart: wg-easy
      version: 0.1.3
      sourceRef:
        kind: HelmRepository
        name: hansehe
        namespace: flux-system
      interval: 5m
  values:
    enabled: true
    replicaCount: 1

    image:
      repository: ghcr.io/wg-easy/wg-easy
    environmentVariables:
      INIT_ENABLED: "true"
      INIT_USERNAME: ${wg_user}
      INIT_PASSWORD: ${wg_pass}
      INIT_HOST: ${wg_host}
      INIT_PORT: 51820
      INIT_DNS: ${pihole_host}

    securityContext:
      container:
        PUID: 0
        runAsUser: 0
        runAsGroup: 0
        readOnlyRootFilesystem: false
        runAsNonRoot: false
        privileged: true
        capabilities:
          add:
            - NET_ADMIN
            - NET_RAW
            - SYS_MODULE

    service:
      type: LoadBalancer
      loadBalancerIP: ${wg_host}
      externalTrafficPolicy: Local

    volume:
      enabled: true
      className: longhorn
      size: 1Gi
