---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: awpa-data
  namespace: projects
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: longhorn
