---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: lidify
  namespace: media
spec:
  interval: 5m
  upgrade:
    force: true
  chart:
    spec:
      chart: app-template
      version: 4.6.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-labs
        namespace: flux-system
      interval: 5m
  values:
    controllers:
      main:
        containers:
          main:
            image:
              repository: chevron7locked/lidify
              tag: latest
            securityContext:
              fsGroup: 0
              runAsUser: 0
              runAsGroup: 0
              fsGroupChangePolicy: "Always"
            env:
              TZ: America/Toronto
              LIDARR_API_KEY: "${lidarr_api_key}"
              LIDIFY_SETTINGS_ENCRYPTION_KEY: ${lidify_settings_encryption_key}
              LIDIFY_CALLBACK_URL: https://lidify.${domain}
              NEXT_PUBLIC_API_URL: https://lidify-api.${domain}
              ALLOWED_ORIGINS: http://localhost:3030,https://lidify.${domain}


    ingress:
      main:
        enabled: true
        annotations:
          traefik.ingress.kubernetes.io/router.entrypoints: websecure-ext,websecure
          traefik.ingress.kubernetes.io/router.middlewares: "admin-forwardauth-authelia@kubernetescrd"
        hosts:
          - host: "music.${domain}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: main
    service:
      main:
        controller: main
        ports:
          http:
            port: 3030

    persistence:
      data:
        enabled: true
        existingClaim: lidify-data
        globalMounts:
          - path: /data
            readOnly: false
      music:
        enabled: true
        type: custom
        volumeSpec:
          nfs:
            server: "${storage_host_ip}"
            path: /gargantua/music
        globalMounts:
          - path: /music
            readOnly: false
