apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: calibre-web-automated
  namespace: media
spec:
  interval: 5m
  upgrade:
    force: true
  chart:
    spec:
      chart: app-template
      version: 4.6.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s-labs
        namespace: flux-system
      interval: 5m

  values:
    controllers:
      main:
        containers:
          main:
            image:
              repository: ghcr.io/crocodilestick/calibre-web-automated
              tag: dev@sha256:d20f0139983227997e1dc4f0ae1f62eed7cf51e1b36125ceda3fb1df949afdfc
            securityContext:
              fsGroup: 0
              runAsUser: 0
              runAsGroup: 0
              fsGroupChangePolicy: "Always"
            env:
              TZ: America/Toronto
              PUID: 0
              PGID: 0

    service:
      main:
        controller: main
        ports:
          http:
            port: 8083

    ingress:
      main:
        enabled: true
        annotations:
          traefik.ingress.kubernetes.io/router.entrypoints: websecure-ext,websecure
        hosts:
          - host: "books.${domain}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: main

    persistence:
      config:
        enabled: true
        existingClaim: calibre-web-automated-config

      ingest:
        enabled: true
        type: custom
        volumeSpec:
          nfs:
            server: "${storage_host_ip}"
            path: /gargantua/books-import
        globalMounts:
          - path: /cwa-book-ingest

      media:
        enabled: true
        type: custom
        volumeSpec:
          nfs:
            server: "${storage_host_ip}"
            path: /gargantua/books-library
        globalMounts:
          - path: /calibre-library
            readOnly: false
